.container {
    margin: auto;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .heading {
    color: rgb(19, 54, 196);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: rgb(0, 7, 150);
  }

  .nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header {
    position: relative;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: src= "../images/WindowsXP.jpg";
  }